﻿
@model WebApplication1.Models.HotMealsListViewModel

<!DOCTYPE html>

<html>

<head>

</head>


<body>
    @foreach (var item in Model.HotMeals)
    {
        <div>
            <h1>Id : @item.Id</h1> 
            <h1>Name : @item.Name</h1>
            <h1>Rating : @item.Rating</h1>
            <h1>Price : @item.Price</h1>
        </div>
    }
</body>

</html>
